<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
 <div class="content p-3">
   <h1 class="text-center"> Covid-19 Dashboard </h1>

   <div class="row">
     <!-- New Cases Small Box -->
     <div class="col">

       <div class="small-box bg-warning">
         <div class="inner">
           <h4>Total Cases : {{data.TotalConfirmed}} </h4>
           <p>New Cases : {{data.NewConfirmed}}</p>
         </div>
       </div>
     </div>
     <!-- Recovred cases Small Box -->
     <div class="col">
       <div class="small-box bg-success">
         <div class="inner">
           <h4>Total Recovered : {{data.TotalRecovered}}</h4>
           <p>New Recovered : {{data.NewRecovered}}</p>
         </div>
       </div>
     </div>
     <!-- New Deaths Box-->
     <div class="col">
       <!-- small box -->
       <div class="small-box bg-danger">
         <div class="inner">
           <h4>Total Deaths : {{data.TotalDeaths}}</h4>
           <p>New Deaths{{data.NewDeaths}}</p>
         </div>
       </div>
     </div>
   </div>
</div>
<router-outlet></router-outlet>
</div>
