<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
 <div class="content">
  <div class="dashboard">
  <div class="title">Covid-19-Dashboard</div>


<div >Total confirmed cases</div>
    {{data.TotalConfirmed}}

  <div >Total NewConfired cases</div>
  {{data.NewConfirmed}}

  <div >Total Recovred</div>
  {{data.TotalRecovered}}


  <div >Total New Recovred cases</div>
  {{data.NewRecovered}}


  <div >Total Deaths</div>
  {{data.TotalDeaths}}


  <div >Total NewDeaths</div>
  {{data.NewDeaths}}

</div>


<router-outlet></router-outlet>
</div>
</div>
